@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@600&display=swap");

html {
	margin: 0px;
	padding: 0px;
	scroll-behavior: smooth;
	overflow: scroll;
	overflow-x: hidden;
}
a {
	text-decoration: none;
}

::-webkit-scrollbar {
	width: 0; /* Remove scrollbar space */
	background: transparent; /* Optional: just make scrollbar invisible */
}

/* The typing effect */
@keyframes typing {
	from {
		width: 0;
	}
	to {
		width: 28%;
	}
}

/* The typewriter cursor effect */
@keyframes blink-caret {
	from,
	to {
		border-color: transparent;
	}
	50% {
		border-color: white;
	}
}

.expandHeading h1 {
	font-family: "Source Code Pro", monospace;
	font-size: x-large;
	overflow: hidden; /* Ensures the content is not revealed until the animation */
	border-right: 3px solid #2f855a; /* The typwriter cursor */
	white-space: nowrap; /* Keeps the content on a single line */
	margin: 0 auto; /* Gives that scrolling effect as the typing happens */
	letter-spacing: 6px; /* Adjust as needed */
	animation: typing 3.5s steps(45, end), blink-caret 0.75s step-end infinite;
}

@keyframes scale-up-center {
	0% {
		transform: scale(0.5);
	}
	100% {
		transform: scale(1);
	}
}
.projectButton {
	transition: transform 0.2s ease-in-out;
}
.projectButton:hover {
	transform: scale(1.1);
}

.mainImage {
	transition: transform 0.2s ease-in-out;
}

.mainImage:hover {
	transform: scale(1.1);
}
